#root {
  max-width: 1280px;
  text-align: center;
  display: grid;
  grid-template-columns: minmax(500px, 50%) 950px;
  gap: 50px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.cv-template {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 20px 30px;
  width: 850px;
  height: 1100px;
}
.left-box {
  width: 100%;
  margin: 10px 50px;
}

.right-box {
  display: flex;
  flex-direction: column;
  margin: 10px 50px;
}

.feature-buttons {
  border: 1px solid black;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
}

.feature-buttons > button {
  border: 1px solid black;
  margin: 0 5px;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: darkblue;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
