.display-info {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.display-info > * {
  margin: 0;
}

.display-education {
  text-align: left;
}
.display-education > ul > li {
  list-style: none;
  text-align: left;
}
.display-education > ul > li > * {
  margin: 0;
}
