.collapsible {
  font-size: 1.5rem;
  font-weight: bold;
}

.summary-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.summary-container > * {
  margin: 0;
}

.summary-content > div > label {
  display: flex;
  gap: 10px;
  padding: 4px 0;
}

.summary-content > div > label > input {
  width: 100%;
}
/*** EDUCATION ***/
.education-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.education-container > * {
  margin: 0;
}

.education-card {
  text-align: left;
}
.education-card > ul > li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.education-card > ul > li > * {
  margin: 0;
}

.edu-submit {
  border: 1px solid black;
}

/*** EXPERIENCE ***/
.experience-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.experience-container > * {
  margin: 0;
}

.experience-card {
  text-align: left;
}
.experience-card > ul > li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.experience-card > ul > li > * {
  margin: 0;
}

.exp-submit {
  border: 1px solid black;
}

/*** SKILLS ***/

.skills-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.skills-container > * {
  margin: 0;
}

.skills-container > div > form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.skill-submit {
  border: 1px solid black;
}

.skills-card {
  text-align: left;
}

.skills-card > ul > li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
