.collapsible {
  font-size: 1.5rem;
  font-weight: bold;
}

.summary-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.summary-container > * {
  margin: 0;
}

.summary-content > div > label {
  display: flex;
  gap: 10px;
  padding: 4px 0;
  justify-content: flex-end;
}

.summary-content > div > label > * {
  width: 80%;
}
/*** EDUCATION ***/
.education-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.education-container > * {
  margin: 0;
}

.education-content > div > label {
  display: flex;
  gap: 5px;
  padding: 4px 0;
  justify-content: flex-end;
}

.education-content > div > label > * {
  width: 80%;
}

.education-content > div > label > span {
  width: 60px;
}

.education-years {
  display: flex;
  width: auto;
  justify-content: space-between;
  margin-left: 5px;
}

.education-years > div > label > * {
  width: 100px;
}

.education-years > div > label > input {
  padding: 2px;
}

.education-card {
  text-align: left;
}
.education-card > ul > li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.education-card > ul > li > * {
  margin: 0;
  word-wrap: break-word;
  max-width: 30%;
}

.edu-submit {
  border: 1px solid black;
}

/*** EXPERIENCE ***/
.experience-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.experience-container > * {
  margin: 0;
}

.experience-form > div > label {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 4px 0;
  text-align: right;
}

.experience-form > div > label > * {
  width: 75%;
  justify-self: right;
}

.experience-form > div > label > span {
  flex-basis: 100px;
}

.experience-form > div > label > textarea {
  resize: none;
}

.employment-years {
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr 100px;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  padding: 0 9px;
}

.employment-years > div > label {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  text-align: right;
}

.employment-years > div > label > input {
  width: 50px;
  justify-self: right;
}

.experience-card {
  text-align: left;
}
.experience-card > ul > li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.experience-card > ul > li > * {
  margin: 0;
}

.experience-dates {
  text-align: right;
}

.exp-submit {
  border: 1px solid black;
}

/*** SKILLS ***/

.skills-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.skills-container > * {
  margin: 0;
}

.skills-container > div > form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.skill-submit {
  border: 1px solid black;
}

.skills-card {
  text-align: left;
}

.skills-card > ul > li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Grouped Styling */

.skill-submit,
.edu-submit,
.exp-submit {
  margin-top: 10px;
}

.skills-list,
.exp-list,
.edu-list {
  padding: 0 10px;
}

.skills-list > li,
.edu-list > li,
.exp-list > li {
  display: flex;
  gap: 10px;
  width: 100%;
  margin: 5px auto;
}

.skills-list > li > p,
.edu-list > li > p,
.exp-list > li > p {
  margin: auto;
}
